<%- include('partials/header'); -%>
    <h4>Select any one of the below button </h4>
    <form action="/sentinemtopinion" method="post">
        <div>
            <button type="submit" class="btn-style btn btn-info" name="button">SentimentAnalysis and Opinion Mining</button>
        </div>
    </form>

    <form action="/languagedetection" method="post">
        <div>
            <button type="submit" class="btn-style btn btn-info" name="button">Language Detection</button><br>
        </div>
    </form>

    <form action="/keyphraseextract" method="post">
        <button type="submit" class="btn-style btn-style btn btn-info" name="button">KeyPhrase Extraction</button><br>
    </form>
    <%- include('partials/footer'); -%>