.btn-style {
    margin: 5px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 30px;
    background-color: #00FF7F;
    width: 100%;
    text-align: center;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #00FF7F;
    padding-top: 15px;
    padding-bottom: 15px;
}